<!doctype html>
<html lang="es">
    <head>
		<meta charset="UTF-8">
        <title>HTML5</title>
        <script src="../angular.min.js"></script>
		<script src="an.js"></script>
    </head>
    <body ng-app="myApp">
<!-- 		<div id="" class=""  ng-controller="myCtrl">
			{{lname|uppercase}}
		</div>
		<div id="" class="" ng-controller="myc2">
			<input type="text" ng-model="pr" /><br/>
			<input type="text" ng-model="num" /><br/>
			{{(pr*num)|currency}}
		</div>
		<div id="" class="" ng-controller="myc3">
			<li ng-repeat="x in names|orderBy:'b'">{{x.a}}</li>
		</div>
		<br/>
		<input type="text" ng-model="test" />
		<div id="" class="" ng-controller="myc4">
			<li ng-repeat="x in names|filter:test|orderBy:'b'">{{x.a+" : "+x.b}}</li>
		</div> -->
		<div id="" class="" ng-controller="myc5">
			 {{ msg | reverse }}
		</div>
    </body>
</html>